<!DOCTYPE html>
<html lang="en">


{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Primary meta tags -->
    <title>{% block title %}Fasteat{% endblock %}</title>
    <meta name="description" content="This is a food html template made by codewithsadee">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'favicon.svg' %}" type="image/svg+xml">

    <!-- Custom CSS link -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <!-- Google font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Preload images -->

</head>

<body>

    <!-- Header -->
    <header class="header" data-header>
        <div class="container">
            <!-- Your header content here -->
        </div>
    </header>

    <!-- Main content -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <!-- Your footer content here -->
        </div>
    </footer>

    <!-- Custom JS link -->
    <script src="{% static 'assets/js/script.js' %}"></script>

    <!-- Ionicon link -->
    <script type="module"
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
