<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout - LaLa</title>
    <link rel="stylesheet" href="{% static 'assets/css/info.css' %}"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="checkout-wrapper"><div class="checkout-container">
        <h1>Checkout</h1>


        <section class="customer-info">
            <h2>Customer Information</h2>
            <form id="checkout-form">
                <div class="form-group">
                    <label for="phone-number">Phone Number:</label>
                    <input type="tel" id="phone-number" name="phone-number" required>
                </div>
                <div class="form-group">
                    <label for="hostel-number">Hostel Number:</label>
                    <select id="hostel-number" name="hostel-number">
                        <option value="">Select Hostel</option>
                        <option value="hostel-1">Hostel 1</option>
                        <option value="hostel-2">Hostel 2</option>
                        <option value="hostel-3">Hostel 3</option>
                        <option value="hostel-4">Hostel 4</option>
                        <option value="hostel-5">Hostel 5</option>
                        <option value="hostel-6">Hostel 6</option>
                        <option value="hostel-7">Hostel 7</option>
                        <option value="hostel-8">Hostel 8</option>
                        <option value="hostel-9">Hostel 9</option>
                        <option value="hostel-10">Hostel 10</option>
                        <option value="hostel-11">Hostel 11</option>
                        <option value="hostel-12">Hostel 12</option>
                        <option value="hostel-13">Hostel 13</option>

                    </select>
                </div>
                <button type="submit" class="btn btn-border-5">Place Order</button>                
            </form>
        </section>
    </div>
</div>

    <script src="{% static 'assets/js/checkout.js' %}"></script> 
</body>
</html>
