<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LaLa - Log in</title>
  <meta name="title" content="Fasteat - The Best Restaurants In Your Home">
  <meta name="description" content="This is a food html template made by codewithsadee">


  <link rel="stylesheet" href="static/assets/css/log.css">


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

  </head>
  <body>
<div id="login">
    <form>
      <input type="text" placeholder="Username">
      <div class="spacer"></div>
      <input type="password" placeholder="Password">
      <input type="submit" value="Login">
    </form>
  </div>
</body>
</html>