<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 
    - primary meta tags
    -->
    <title>Fasteat - Menu</title>
    <meta name="title" content="Fasteat - Menu">
    <meta name="description" content="Explore our delicious menu offerings">

    <!-- 
    - favicon
    -->
    <link rel="shortcut icon" href="{% static 'favicon.svg' %}" type="image/svg+xml">

    <!-- 
    - custom css link
    -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/grid_css.css' %}">


    <!-- 
    - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body>

    <!-- 
    - #HEADER
    -->

    <header class="header" data-header>
        <div class="container">

            <a href="#" class="logo">
                <img src="{% static 'assets/images/logo.svg' %}" width="148" height="38" alt="Fasteat home">
            </a>

            <nav class="navbar" data-navbar>
                <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
                    <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
                </button>

                <a href="#" class="logo">
                    <img src="{% static 'assets/images/logo.svg' %}" width="148" height="38" alt="Fasteat home">
                </a>

                <ul class="navbar-list">

                    <li class="navbar-item">
                        <a href="#" class="navbar-link" data-nav-link>Home</a>
                    </li>

                    <li class="navbar-item">
                        <a href="#" class="navbar-link" data-nav-link>Menu</a>
                    </li>

                    <li class="navbar-item">
                        <a href="#" class="navbar-link" data-nav-link>Restaurants</a>
                    </li>

                    <li class="navbar-item">
                        <a href="#" class="navbar-link" data-nav-link>General Store</a>
                    </li>

                </ul>
            </nav>

            <div class="header-action">
                <button class="cart-btn" aria-label="cart">
                    <ion-icon name="bag" aria-hidden="true"></ion-icon>
                </button>

                <a href="#" class="btn btn-primary has-after">Order Now</a>
            </div>

            <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
                <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
            </button>

            <div class="overlay" data-overlay data-nav-toggler></div>

        </div>
    </header>


    <!-- 
    - #MENU
    -->

    <main>
        <article>

          <section class="section menu" aria-labelledby="menu-label">
            <div class="container">
          
              <h2 class="h2 section-title" id="menu-label" data-reveal>Our Menu</h2>
          
              <div class="menu-grid">
                <!-- Menu Item 1 -->
                <div class="card">
                  <img src="https://source.unsplash.com/random/200x200/?food,burger" class="card-img-top" alt="Menu Item 1">
                  <div class="card-body">
                    <h5 class="card-title">Menu Item 1</h5>
                    <p class="card-text">Description of menu item 1.</p>
                    <a href="Order_Now" class="btn btn-primary">Order Now</a>
                  </div>
                </div>
          
                <!-- Menu Item 2 -->
                <div class="card">
                  <img src="https://source.unsplash.com/random/200x200/?food,pizza" class="card-img-top" alt="Menu Item 2">
                  <div class="card-body">
                    <h5 class="card-title">Menu Item 2</h5>
                    <p class="card-text">Description of menu item 2.</p>
                    <a href="Order_Now" class="btn btn-primary">Order Now</a>
                  </div>
                </div>
          
                <!-- Menu Item 3 -->
                <div class="card">
                  <img src="https://source.unsplash.com/random/200x200/?food,pasta" class="card-img-top" alt="Menu Item 3">
                  <div class="card-body">
                    <h5 class="card-title">Menu Item 3</h5>
                    <p class="card-text">Description of menu item 3.</p>
                    <a href="Order_Now" class="btn btn-primary">Order Now</a>
                  </div>
                </div>
          
                <!-- Menu Item 4 -->
                <div class="card">
                  <img src="https://source.unsplash.com/random/200x200/?food,burger" class="card-img-top" alt="Menu Item 1">
                  <div class="card-body">
                    <h5 class="card-title">Menu Item 1</h5>
                    <p class="card-text">Description of menu item 1.</p>
                    <a href="Order_Now" class="btn btn-primary">Order Now</a>
                  </div>
                </div>
          
                <!-- Menu Item 5 -->
                <div class="card">
                  <img src="https://source.unsplash.com/random/200x200/?food,pizza" class="card-img-top" alt="Menu Item 2">
                  <div class="card-body">
                    <h5 class="card-title">Menu Item 2</h5>
                    <p class="card-text">Description of menu item 2.</p>
                    <a href="Order_Now" class="btn btn-primary">Order Now</a>
                  </div>
                </div>
          
                <!-- Menu Item 6 -->
                <div class="card">
                  <img src="https://source.unsplash.com/random/200x200/?food,pasta" class="card-img-top" alt="Menu Item 3">
                  <div class="card-body">
                    <h5 class="card-title">Menu Item 3</h5>
                    <p class="card-text">Description of menu item 3.</p>
                    <a href="Order_Now" class="btn btn-primary">Order Now</a>
                  </div>
                </div>        
                
                <!-- Menu Item 7 -->
                <div class="card">
                  <img src="https://source.unsplash.com/random/200x200/?food,burger" class="card-img-top" alt="Menu Item 1">
                  <div class="card-body">
                    <h5 class="card-title">Menu Item 1</h5>
                    <p class="card-text">Description of menu item 1.</p>
                    <a href="Order_Now" class="btn btn-primary">Order Now</a>
                  </div>
                </div>
          
                <!-- Menu Item 8 -->
                <div class="card">
                  <img src="https://source.unsplash.com/random/200x200/?food,pizza" class="card-img-top" alt="Menu Item 2">
                  <div class="card-body">
                    <h5 class="card-title">Menu Item 2</h5>
                    <p class="card-text">Description of menu item 2.</p>
                    <a href="Order_Now" class="btn btn-primary">Order Now</a>
                  </div>
                </div>
          
                <!-- Menu Item 9 -->
                <div class="card">
                  <img src="https://source.unsplash.com/random/200x200/?food,pasta" class="card-img-top" alt="Menu Item 3">
                  <div class="card-body">
                    <h5 class="card-title">Menu Item 3</h5>
                    <p class="card-text">Description of menu item 3.</p>
                    <a href="Order_Now" class="btn btn-primary">Order Now</a>
                  </div>
                </div>                
              </div>
          
            </div>
          </section>
          

        </article>
    </main>


    <!-- 
    - #FOOTER
    -->

    <footer class="footer" data-footer>
        <div class="container">

            <div class="footer-logo">
                <img src="{% static 'assets/images/logo-footer.svg' %}" width="148" height="38" alt="Fasteat logo">
            </div>

            <ul class="social-list">

                <li>
                    <a href="#" class="social-link">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="social-link">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="social-link">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                </li>

            </ul>

            <div class="footer-info">
                <p>&copy; 2024 Fasteat. All rights reserved.</p>
            </div>

        </div>
    </footer>


    <!-- 
    - custom js link
  -->
    <script src="{% static 'assets/js/script.js' %}"></script>

</body>

</html>
