<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant</title>
  <meta name="title" content="Fasteat - Menu">
  <meta name="description" content="Explore our delicious menu offerings">
  <link rel="shortcut icon" href="{% static 'favicon.svg' %}" type="image/svg+xml">
  <link rel="stylesheet" href="{% static 'assets/css/order.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body>


  <div class="restaurant-selection">
    <h2>1.Choose a restaurant:</h2>
    <select id="restaurant">
      <option value="">Select Restaurant</option>
      <option value="Raju">Raju</option>
      <option value="Ayan">Ayan</option>
      <option value="HNS">Hot N Spicy</option>
    </select>
  </div>

  <div class="menu-container">
    <h2>2.Menu</h2>
    <select id="menu-items">
      <option value="">Select Menu Item</option>
    </select>
  </div>

  <div class="order-section">
    <h2>3.Your Order</h2>
    <div id="order-summary"></div>
    <div id="total-amount">Total: 

  </div>
  <button id="checkout-button" class="btn btn-border-5" onclick="location.href='{% url 'checkout' %}';">Checkout</button>


</div>






  <script src="{% static 'assets/js/order.js' %}"></script>

</body>

</html>