<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>

    <meta name="title" content="Fasteat - Menu">

    <link rel="stylesheet" href="{% static 'assets/css/rest2.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <div class="container">
        <h2 class="h2 section-title">Restaurants</h2>

        <div class="restaurant-grid">
            <div class="restaurant-card">
                <img src="{% static 'assets/images/rest-1.jpg' %}" alt="Raju's">
                <h3>Raju's</h3>
            </div>

            <div class="restaurant-card">
                <img src="{% static 'assets/images/rest-2.jpg' %}" alt="Ayan">
                <h3>Ayan</h3>
            </div>

            <div class="restaurant-card">
                <img src="{% static 'assets/images/rest-3.jpg' %}" alt="Hot N Spicy">
                <h3>Hot N Spicy</h3>
            </div>
        </div>
         <a href="{% url 'Order_Now' %}" class="btn btn-border-5">Order Now</a>


    </div>


    <script src="{% static 'assets/js/script.js' %}"></script>

</body>

</html>